/* main body */

body {
    position:relative;
    font-family: sans-serif;
    color: cadetblue;
    margin: 0;
    overflow: hidden;
}

/*-- index --*/

/*-- ID's --*/

.index #mainHeader{
    font-size: 40px;
    
    background: black;
    border: 10px;
    border-color: cadetblue;
    border-style: solid;
}

.index #mainHeader h1 {
    position: relative;
    left: 5%;
    margin: 1% 0px;
    width: 100%;
    box-sizing: border-box;
}

.index #welcome {
    font-size: 50px;
}

.index h2 {
    
}

.index #textBox {

}

.index #linksBar {
    padding 0px;
    position: absolute;
    background: #f4f4f4;
    color: cadetblue;
    font-size: 50px;
    border: 3px;
    border-style: solid;
    border-color: cadetblue;
    width: 100%;
    box-sizing: border-box;
}

.index #linksBar li {
    display: inline;
    font-size: 20px;
    
}

.index #linksBar ul {
    margin: 0px;
}

.index #patreon {list-style: url(Pictures/Patreon.png);}
.index #mail {list-style: url(Pictures/Mail.png);}
.index #github {list-style: url(Pictures/Github.png);}
.index #bugReport {list-style: url(Pictures/BugReport.png);}

.index #mainFooter {
    /* margin */
    margin-left: 20;
    margin-right: 20;
    margin-top: 376px;
    margin-bottom: 0px;
    
    border: 10px;
    border-style: solid;
    border-color: darkgray;
    
    background: black;
    padding: 0px 20px;
    position: inherit;
    
    /* text */
    text-align: center;
    color: lightgray;
    box-sizing: border-box;
}

/*-- CLASS --*/

.index .container2 {
    margin: 50px 0px;
    background: lightblue;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: lightblue;
    border-radius: 10px;
    width: 80%;
    float: left;
    box-sizing: border-box;
}

.index .container {
    font-family: sans-serif;
    font-size: 15px;
    color: cadetblue;
}

/*-- media --*/

@media (max-width: 1275px) {
    
    .index #mainFooter {
        margin-top: 400px;
    }
}

@media (max-width: 1000px) {
    
        .index #mainFooter {
        margin-top: 450px;
    }
}

@media (max-width: 700px) {
    
    .index .container2 {
        width: 100%;
    } 
    
    .index #mainFooter {
        margin-top: 500px;
    }
}

/*-- /index --*/



/*-- homeScreen --*/

/* ID's */

.homeScreen #title{
    font-size:90px;
    text-decoration: underline;
}

/* buttons */

    .homeScreen #start-link {
        margin-left: 20%;

    }

    .homeScreen #dominationMode {
        top: 50%;
        color: darkred;
        right: 5%;
    }

    .homeScreen #dominationMode:hover {
        color: red
    }

    .homeScreen #colonizationMode  {
        top: 105%;
        color: darkcyan;
    }

    .homeScreen #colonizationMode:hover {
        color: cyan
    }

    .homeScreen #xenoThreatMode  {
        top: 160%;
        color: darkgoldenrod;
    }

    .homeScreen #xenoThreatMode:hover {
        color: yellow
    }

    .homeScreen #dominationDescription {
        color: darkred;
    }

    .homeScreen #colonizationDescription {
     color: darkcyan;
    }

    .homeScreen #xenoThreatDescription {
        color: darkgoldenrod;
    }


/* CLASS */

.homeScreen .header {
    font-weight:bold;
    font-size: 30px;


    width:auto;
    left: 5%;
    position:relative;
}

.homeScreen a:hover {
    cursor: pointer;
    color: aqua;
}

.homeScreen .button {
    border-color: rgb(14, 19, 59);
    border-radius: 35px;
    border-width: 5px;
    border-style: solid;
    background-color: rgb(11, 92, 112);
    text-decoration: none;

    color: cadetblue;  
    font-weight:bold;
    font-size: 200%;

    padding: 20px;
    position: absolute;
}



.homeScreen .popupDescription {
    width: 30%;
    top: -185px;
    float:right;
    margin-right: 23%;

    border: 5px rgb(14, 19, 59) ridge;
    background-color: rgb(11, 92, 112);
    height: 50%;
    border-radius: 10px;
    padding: 8px;

    font-weight: bold;
    position: relative;
}

.homeScreen .mode {
    float:right; 
    right:  5%;
    width: 200px;
    height: 30px;
}

/*-- ./homeScreen --*/